html,body{
    margin:0;
}
.header{
    background-color: #333;
    color: white;
    overflow: hidden;
    width: 100%;
}

.first{
    float:left;
    width: 40%;
    text-align: center;
}
.second{
    float:right;
    width: 60%;
    padding-top: 5px;
    text-align: right;
}
ul li{
    display:inline;
    font-size: 2rem;
    margin-left: 5px;
    margin-right: 9px;
    padding: 2px;
}
.second a{
    color: #FFFFFF;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    
}
