html,body{
    margin:0;
}
.header{
    background-color: #333;
    color: white;
    overflow: hidden;
    width: 100%;
}

.header .name{
    float:left;
    width: 40%;
    text-align: center;
}
.header .link{
    float:right;
    width: 60%;
    padding-top: 5px;
    text-align: right;
}
.header ul li{
    display:inline;
    font-size: 2rem;
    margin-left: 5px;
    margin-right: 12px;
    padding: 2px;
}
.header .link a{
    color: #FFFFFF;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.container .one{
    height: 600px;
    border: 1px solid black;
    background-image: url("https://img.freepik.com/free-vector/abstract-white-background_23-2148810888.jpg?size=626&ext=jpg");
    background-size: cover;
}
.container .one p,.container .one h1{
    font-size: 2rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    
}
.container .one img{
    width: 200px;
    float: right;
    margin-right:15px;
    margin-left: 15px;
}
.container .two iframe{
    height: 600px;
    width: 1200px;
    margin: 10px auto;
    /* margin: 15px; */
}

.container .three ul{
    display: table;
    margin: 0 auto;
    
}
.container .three{
    font-size: 1.5rem;
    border: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
    background-image: url("https://img.freepik.com/free-vector/3d-perspective-style-diamond-shape-white-background_1017-27556.jpg?size=626&ext=jpg&ga=GA1.2.186347785.1608336000");
}
.container .four{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 55px;
    border: 1px solid black;
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148844576.jpg?size=626&ext=jpg");
}
.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
}
